<!-- Status Bar -->
<div class="statusbar">
    <div class="statusbar-left">
        <span id="connectionStatus">
            <i class="bi bi-circle-fill"></i> Connecting...
        </span>
        <span class="statusbar-divider"></span>
        <span class="poll-groups-status" id="pollGroupsStatus">
            <span class="poll-item"><i class="bi bi-lightning-fill"></i> realtime: 1s</span>
            <span class="poll-item"><i class="bi bi-clock"></i> normal: 5s</span>
            <span class="poll-item"><i class="bi bi-hourglass"></i> slow: 60s</span>
        </span>
    </div>
    <div class="statusbar-right">
        <span id="lastUpdate">Last update: --</span>
    </div>
</div>
